.card-container{
    background-image: url("https://i.giphy.com/media/nXIYVr5BOhT3Q6rydq/giphy.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* color: #fff ;*/
}